h1.lightning-title {
  @apply text-3xl
}

h2.lightning-title {
  @apply text-4xl
}

h3.lightning-title {
  @apply text-3xl
}

h4.lightning-title {
  @apply text-2xl
}

h5.lightning-title {
  @apply text-xl
}

h6.lightning-title {
  @apply text-lg
}

p.lightning-paragraph {
  margin: 0 auto;
  color: #6b7280;
  padding: 1rem 0;
}

.dnd-button {
  cursor: move;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0)) left top / 7px 7px repeat;
  width: 16px;
  height: 20px;
}

blockquote.lightning-blockquote {
  @apply ml-5 max-w-3xl border-l-4 border-purple-200 pl-5 my-2;
  & > p {
    padding: .3rem 0;
    &:first-child {
      @apply text-lg italic;
    }

    &:nth-child(2) {
      @apply text-sm italic;
    }

    &:first-child:before {
      @apply text-xl;
      content: open-quote;
    }
    &:first-child:after {
      @apply text-xl;
      content: close-quote;
    }
  }
}

.ql-container {
  border: none !important;

  .ql-editor {
    @apply focus:outline-none;
    padding: 12px 0;

    .ql-size {
      &-small {
        @apply text-sm;
      }
      &-large {
        @apply text-lg;
      }
    }
  }

  .ql-clipboard {
    @apply hidden;
  }
}

