@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply rounded-md border border-gray-400 px-2 py-1 duration-100 ease-in-out;
}
.button--disable {
    @apply bg-gray-300;
}

.button--not--disable {
    @apply bg-green-300 !border-green-400;
}

.test {
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}