@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
    @apply rounded-md border border-gray-400 px-2 py-1 duration-100 ease-in-out;
}
.button--disable {
    @apply bg-gray-300;
}

.button--not--disable {
    @apply bg-green-300 !border-green-400;
}